<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- dao 实例 -->
	<bean id="daoImpl"
		class="com.helloweenvsfei.spring.example.DaoImpl">
	</bean>

	<bean id="service"
		class="com.helloweenvsfei.spring.example.ServiceImpl">
		<property name="dao" ref="daoImpl"></property>
	</bean>




</beans>